
.main-header {
    background-color: gray;
    border-radius: 10px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}



.catimg {
    position: absolute;
    bottom:0px;
    left:0px;
}
html,body {
    background-color: rgb(44, 44, 44);
}


.smol {
	width: 15%;
	height: 13%;
    min-width: 100px;
	max-width: 115px;

	padding:10px;
}

.footer {
	background-color: #2c2c2c;
	text-align: center;
}